@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

.side__bar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    width: 200px;
    padding-top: 85px;
    margin-left: 15px;
   
}

li{
    list-style-type:none;
    padding-left:  10px;
    margin-bottom: 5px;
    line-height: 45px;
    transition:background-color 0.2s ;

}
li:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    cursor: pointer;
}
hr{
    width:200px;
    margin: 15px 0;
    border: 0.5px solid rgb(209, 208, 208);
}
.side__bar img{
height: 16px;
margin-right: 25px;

}
.bxs-home,.bxs-videos,.bx-history,.fa-clock-o,.bx-like{
    font-size: 23px;
    margin-right: 23px;
    
}

